node_modules/

index.html

.env

uploads/*
!uploads/.gitkeep

postgres_data/
*.sqlite
*.sqlite3

**/*/database/*.sqlite
**/*/database/*.sqlite3
**/*/database/*.json

!**/*/database/migrations
!**/*/database/seeders

logs
*.log
npm-debug.log*

coverage/

.DS_Store
.idea/
.vscode/
*.swp
